

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/**shared style**/
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.pri-btn {
    margin-top: 30px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    cursor: pointer;
}

.pri-btn:hover {
    background-color: #ff9822;
    transition-duration: 0.3s;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}



/***nav style***/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-logo {
    font-size: 2.8rem;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    margin-right: 40px;
    color: #424242;
    font-size: 1.1rem;
    font-weight: 500;
}


.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}


/***banner***/

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 64px;
    font-weight: bold;
    color: #131313;
    margin-top: 80px;
}

.banner-description {
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
}


.banner-img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}



/***team***/

.teams {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.team-text {
    margin-left: 75px;
    max-width: 535px;
}

.text-title {
    font-size: 2.8rem;
}

.text-description {
    font-size: 1rem;
    color: #727272;
}

.part-1 {
    color: #727272;
}
.part-2 {
    color: black;
    font-weight: bold;
}
.part-3 {
    color: #FF900E;
}

/***some**facts**/

.some-facts-title {
    font-size: 2.8rem;
    font-weight: bold;
    color: black;
}

.some-facts-description {
    font-size: 1rem;
    color: #727272;
    width: 540px;
    margin-bottom: 50px;
}


.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact {
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}

.fact-num {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 0px;
    margin-top: 20px;
}


/**sponsors related styles**/

.sponsor-info {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}

.sponsors-title {
    font-size: 2.8rem;
    font-weight: bold;
}

.sponsors-description {
    font-size: 1rem;
    color: #727272;
}

.sponsor-company {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
}






/***responsive media quari***/

@media screen and (max-width: 576px) {
    .navbar, ul {
        flex-direction: column;
    }

    .teams {
        flex-direction: column;
    }

    .team-img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .team-text{
        margin-left: 20px;
    }

    .fact-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 25px;
    }

    .some-facts-title {
        margin-left: 20px;
    }
    .some-facts-description {
        margin-left: 20px;
        width: 100%;
    }

    .sponsor-company {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 25px;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }
    .team-text {
        margin-left: 50px auto;
    }

    .some-facts-title {
        margin-left: 50px;
    }

    .some-facts-description {
        margin-left: 50px;
    }

    .fact-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 60px;
    }


    .sponsor-company {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 25px;
    }
}